**/node_modules/
**/node_modules
/node_modules
node_modules
node_modules.lnk
**/.svelte-kit/
**/tsconfig.tsbuildinfo

1-builds/*/packages/**/.DS_Store
1-builds/*/packages/**/build/
1-builds/*/packages/**/package/
1-builds/*/packages/**/.env
1-builds/*/packages/**/.env.*
1-builds/*/packages/**/speed-highlight
1-builds/*/packages/**/vite.config.js.timestamp-*
1-builds/*/packages/**/vite.config.ts.timestamp-*

!1-builds/*/packages/**/.env.example
!1-builds/*/packages/**/dist/
